@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.iteration-work-items-hub {
    font-size: $fontSizeM;
    padding: 0 1em;

    #iteration-selections {
        p {
            margin-bottom: 0;
        }

        .example-dropdown {
            width: 50vw;
        }
    }

    #selected-iteration {
        margin-bottom: 0;
    }
}
